body{
    background-image: url(bilder/hintergrund.jpg);
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
    
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: 900;
    font-size: 40px;
    color: rgb(247, 17, 17);

}

.ueberschrift{
    margin-top: 20px;
    color: rgb(254, 183, 18);
}

#results{
    color: red;
    border-color: white;
    font-weight: 700;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
    
}

.spieler{
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#halt {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.start{
    position: fixed; 
    top: 0; 
    left: 0; 
    margin: 10px;
    
}

.audio{
    position: fixed; 
    top: 0; 
    right: 0; 
    margin: 10px;
    background-color: transparent;
    border-color: transparent;
}

.laut{
    width: 40px;
}


.summen{
    color: white;
}

/* Audio */

